.add {
  max-width: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: calc((100vw - 50%) - 250px);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0s linear;
}
@media screen and (max-width: 600px) {
  .add {
    max-width: 282px;
    left: calc((100vw - 50%) - 141px);
  }
}
