.main-content {
  max-width: 880px;
  width: 100vw;
  margin: 45px 200px 60px;
  background-color: #000;
  transition: opacity 0.3s linear;
}
@media screen and (max-width: 1024px) {
  .main-content {
    max-width: 600px;
    margin: 28px 19px 36px;
  }
}
@media screen and (max-width: 600px) {
  .main-content {
    max-width: 320px;
    margin: 28px 19px 36px;
  }
}
